/* You can add global styles to this file, and also import other style files */
$primary: #fb3782ff;
$secondary: #ffb7e2ff;
$warning: #f98062ff;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
$font-family-sans-serif: 'Outfit', system-ui, -apple-system, 'Outfit', Roboto, Arial, sans-serif;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
